/*===========================GLOBAL VARIABLES=======================*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;300;400;500;600;700&family=Montserrat:wght@100;300;400;500;600;700&family=Poppins:wght@100;300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    transition: all 0.4s;
}

:root{
    --dark-blue: #001a31;
    --mint-green: #159b4d;
    --dark-green: #08503c;
    --celestial-blue: #d3f1e1;
    --cyan: #0be2e8;
    --subtle-cyan: #016b7f;
    --mid-cyan: #03b19f;
    --flat-white: #ffffff;
    --shade-of-white: #c8c8c8;

    --title-font: 'Montserrat', sans-serif;
    --title-font-alt: 'Montserrat Alternates', sans-serif;
    --body-font:  'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .5rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: var(--mint-green);
    border-radius: 9px;
}

html {
  scroll-padding-top: 80px; /* Replace with your fixed navbar height */
}




body {
    margin: 0;
    padding: 0;
    background-color: var(--dark-blue);
    color: var(--flat-white);
}

section{
    margin: 10% 5%;
}

.section-titles{
    text-transform: uppercase;
    font-size: 2.5rem;
    letter-spacing: 0.8px;
    font-family: var(--title-font);
    font-weight: 900;
    /* font-size: clamp(3.4375rem, 3.25rem + 0.75vw, 4rem); */
    background-color: #159b4d;
    background-image: linear-gradient(45deg, #159b4d, #d3f1e1);
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}


.button {
    display: inline-block;
    padding: 1rem 1.5rem;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    background-color:  var(--mint-green);
    box-shadow: inset 6px 14px 38px #159b4d, 6px 9px 18px #08503c;
    border-radius: 9px;
    border: none;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 2rem;
    transition: all .45s ease;
}

.button:hover {
    transform: scale(1.1);
}

.second-button {
  display: inline-block;
  padding: 1rem 1rem;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  background-color:  var(--mint-green);
  /* box-shadow: inset 2px 9px 34px #159b4d, 2px 5px 14px #08503c; */
  border-radius: 9px;
  border: none;
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 2rem;
  transition: all .45s ease;
}

.second-button:hover {
  transform: scale(1.1);
}

.scroll-anim{
	position: absolute;
	top: 80%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.scroll-anim span{
	display: block;
	width: 20px;
	height: 20px;
	border-bottom: 2px solid white;
	border-right: 2px solid white;
	transform: rotate(45deg);
	margin: -10px;
	animation: animate 2s infinite;
}

.scroll-anim span:nth-child(2)
{
	animation-delay: -0.2s;
}

.scroll-anim span:nth-child(3)
{
	animation-delay: -0.4s;
}

@keyframes animate{
	
	0%{
		opacity: 0;
		transform: rotate(45deg) translate(-20px, -20px);
	}
	50%{
		opacity: 1;
	}
	100%{
		opacity: 0;
		transform: rotate(45deg) translate(20px, 20px);
	}
}
/*====================================================================*/



/*========= NAVBAR COMPONENT ============*/
.nav-container{
    margin-left: 5%;
    margin-right: 5%;
}

.nav{
    z-index: 1000;
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
    /* background-color: rgba(0,0,255,0.8); */
}

/* Change background header */
.scroll-header{
    backdrop-filter: blur(15px) saturate(90%);
    -webkit-backdrop-filter: blur(15px) saturate(90%);
    background-color: rgba(0, 26, 49, 0.75);
    box-shadow:  0 4px 4px hsla(145, 76%, 35%, .3);
  }
  

.nav div.nav-logo{
    /* width: 180px;
    height: 10px; */
    position: absolute;
}

.nav div.nav-logo a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    text-decoration: none;
    font-size: 1.8em;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    background-color: #159b4d;
    background-image: linear-gradient(45deg, #159b4d, #d3f1e1);
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.nav div.nav-logo a:hover {
    color: #c0c0c0;
}

.nav div.nav-logo img{
    width: 35px;

    filter: drop-shadow(0.10rem 0.10rem 0.2rem hsla(145, 76%, 35%, .7));
}

.nav div.main_list{
    width: 700px;
    height: 65px;
    float: right;
}

.nav div.main_list ul{
    width:100%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav div.main_list ul li{
    /* width: 120px; */
    height: 65px;
}

.nav div.main_list ul li a{
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    letter-spacing: 1px;
    font-weight: 450;
    text-transform: uppercase;
}

.nav div.main_list ul li a:hover{
    color: var(--mid-cyan);
}

.nav div.media_button {
    width: 40px;
    height: 40px;
    background-color: transparent;
    position: absolute;
    right: 15px;
    top: 12px;
    display: none;
}

.nav div.media_button button.main_media_button {
    width: 100%;
    height: 100%;
    background-color: transparent;;
    outline: 0;
    border: none;
    cursor: pointer;
}

.nav div.media_button button.main_media_button span{
    width: 98%;
    height: 1px;
    display: block;
    background-color: #fff;
    margin-top: 9px;
    margin-bottom: 10px;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(1){
    transform: rotateY(180deg);
    transition: all 0.5s;
    background-color: #c0c0c0;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(2){
    transform: rotateY(180deg);
    transition: all 0.4s;
    background-color: #c0c0c0;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(3){
    transform: rotateY(180deg);
    transition: all 0.3s;
    background-color: #c0c0c0;
}

.nav div.media_button button.active span:nth-of-type(1) {
    transform: rotate3d(0, 0, 1, 45deg);
    position: absolute;
    margin: 0;
}

.nav div.media_button button.active span:nth-of-type(2) {
    display: none;
}

.nav div.media_button button.active span:nth-of-type(3) {
    transform: rotate3d(0, 0, 1, -45deg);
    position: absolute;
    margin: 0;
}

.nav div.media_button button.active:hover span:nth-of-type(1) {
    transform: rotate3d(0, 0, 1, 20deg);
}

.nav div.media_button button.active:hover span:nth-of-type(3) {
    transform: rotate3d(0, 0, 1, -20deg);
}
/*===================================================================*/



/*===================================HEADER COMPONENT================================*/


header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #333;
    color: #fff;
    height: 100vh;
    background: rgb(8,80,60);
    background: linear-gradient(180deg, rgba(8,80,60,0.4738270308123249) 0%, rgba(0,26,49,1) 100%), url("../img/header.jpg")
    no-repeat 50% 50% / cover;
}

.header-content{
    margin: 5%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.text-container {
    text-align: left;
    max-width: 50%;
    /* padding: 10px; */
}

.text-container .overlay-first-text {
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: 0.8px;
    line-height: 1.5;
    font-family: var(--title-fonts);
    text-transform: uppercase;
    

    background-color: #159b4d;
    background-image: linear-gradient(45deg, #159b4d, #d3f1e1);
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.text-container .overlay-second-text {
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1.5;
    font-family: var(--title-fonts);
}

.text-container .overlay-third-text {
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 0.8px;
  line-height: 1.5;
  font-family: var(--title-fonts);
  text-transform: uppercase;
  

  background-color: #159b4d;
  background-image: linear-gradient(45deg, #159b4d, #d3f1e1);
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.header-content .overlay-action-text{
  margin-top: 10px;
  font-size: 10px;
  letter-spacing: 1px;
}




.video-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    /* margin-top: 2rem; */
    text-align: center;
    position: relative;
}


.video-container video {
    width: 100%;
    height: auto;
    border-radius: 1rem;

    box-shadow: rgba(0,0,0,0.25) 0px 0px 50px 50px;
}





.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(8,80,60);
  background: linear-gradient(180deg, rgba(8,80,60,0.4738270308123249) 0%, rgba(0,26,49,1) 100%);
  z-index: 1;
  border-radius: 1rem;
  transition: opacity 0.9s ease-out;
}




.video-container button {
  background-color: var(--mint-green);
  color: #fff;
  font-size: 20px;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  display: inline-block;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 2;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.1);
  }
  100% {
      transform: scale(1);
  }
}




/* header {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}


video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgb(8,80,60);
    background: linear-gradient(180deg, rgba(8,80,60,0.4738270308123249) 0%, rgba(0,26,49,1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}


.overlay-content {
    text-align: center;
    margin: 10%;
}

.overlay-content .overlay-first-text {
    font-size: 2.2rem;
    font-weight: 900;
    letter-spacing: 0.8px;
    line-height: 1.5;
    font-family: var(--title-fonts);
    text-transform: uppercase;
    

    background-color: #159b4d;
    background-image: linear-gradient(45deg, #159b4d, #d3f1e1);
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.overlay-content .overlay-second-text {
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1.5;
    font-family: var(--title-fonts);
}

.overlay-content .overlay-third-text {
  font-size: 2.2rem;
  font-weight: 900;
  letter-spacing: 0.8px;
  line-height: 1.5;
  font-family: var(--title-fonts);
  text-transform: uppercase;
  

  background-color: #159b4d;
  background-image: linear-gradient(45deg, #159b4d, #d3f1e1);
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.overlay-content .overlay-action-text{
    margin-top: 10px;
    font-size: 10px;
    letter-spacing: 1px;
}



.mute-toggle {
  position: absolute;
  top: 80%;
  right: 7%;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
  z-index: 3;

  background-color: rgba(21, 155, 77, 0.4) ;
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;

  border-radius: 50%;
  cursor: pointer;
  z-index: 99;
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  box-shadow: 0 0 0 0 var(--mint-green);
  transition: all .45s ease;
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 15px rgba(232, 76, 61, 0);}} */

/*===================================================================*/







/*===================================PROPIEDADES COMPONENT================================*/
.carousel {
    position: relative;
    width: calc(min(90rem, 90%));
    scroll-margin-top: -50px;
    margin: 5% auto;
    /* min-height: 100vh; */
    column-gap: 3rem;
    padding-block: min(20vh, 3rem);
  }


  .carousel > div span {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 1rem;
    color: var(--subtle-cyan);
  }
  

  .carousel > div hr {
    display: block;
    background: var(--subtle-cyan);
    height: 0.25rem;
    width: 6.25rem;
    border: none;
    margin: 1.125rem 0 1.875rem 0;
  }
  
  .carousel > div p {
    line-height: 1.5;
    font-size: 0.8rem;
  }
  

  
  
/*==============SWIPER STYLING=============*/
.swiper {
    width: 100%;
    padding-top: 3.125rem;
  }
  
  .swiper-pagination-bullet,
  .swiper-pagination-bullet-active {
    background: var(--mint-green);
  }
  
  /* .swiper-pagination {
    bottom: 1.25rem !important;
  } */
  
  .swiper-slide {
    width: 18.75rem;
    height: 28.125rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: self-start;
    border-radius: 0.5rem; 
  }
  
  .swiper-slide h2 {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.4;
    margin-bottom: 0.625rem;
    /* padding: 0 0 0 1.563rem; */
    padding: 0 1.563rem;
    text-transform: uppercase;
  }
  
  .swiper-slide p {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 0 1.563rem;
    line-height: 1.5;
    font-size: 0.75rem;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    /* -webkit-box-orient: vertical; */
    overflow: hidden;
  }
  
  .swiper-slide a {
    margin: 1.25rem 1.563rem 3.438rem 1.563rem;
    padding: 0.438em 1.875rem;
    font-size: 0.9rem;
  }
  
  .swiper-slide a:hover {
    color: #005baa;
  }
  
  .swiper-slide div {
    display: none;
    opacity: 0;
    padding-bottom: 3rem;
    /* padding-bottom: 0.625rem; */
  }
  
  .swiper-slide-active div {
    display: block;
    opacity: 1;
  }
  
  .swiper-slide--one {
    background: linear-gradient(to top, #001a31, #001a319d, #2c536474),
      url("../img/carousel/andalucia.jpg")
        no-repeat 50% 50% / cover;   
  }
  
  .swiper-slide--two {
    background: linear-gradient(to top, #001a31, #001a319d, #2c536474),
      url("../img/carousel/cataluna.jpg")
        no-repeat 50% 50% / cover;
  }
  
  .swiper-slide--three {
    background: linear-gradient(to top, #001a31, #001a319d, #2c536474),
      url("../img/carousel/madrid.jpg")
        no-repeat 50% 50% / cover;
  }
  
  .swiper-slide--four {
    background: linear-gradient(to top, #001a31, #001a319d, #2c536474),
      url("../img/carousel/valenciana.jpg")
        no-repeat 50% 50% / cover;
  }
  
  .swiper-slide--five {
    background: linear-gradient(to top, #001a31, #001a319d, #2c536474),
      url("../img/carousel/vasco.jpg")
        no-repeat 50% 50% / cover;
  }

  .swiper-slide--six {
    background: linear-gradient(to top, #001a31, #001a319d, #2c536474),
      url("../img/carousel/galicia.jpg")
        no-repeat 50% 50% / cover;
  }

  .swiper-slide--seven {
    background: linear-gradient(to top, #001a31, #001a319d, #2c536474),
      url("../img/carousel/canarias.jpg")
        no-repeat 50% 50% / cover;
  }

  .swiper-slide--eight {
    background: linear-gradient(to top, #001a31, #001a319d, #2c536474),
      url("../img/carousel/baleares.jpg")
        no-repeat 50% 50% / cover;
  }

  .swiper-slide--nine {
    background: linear-gradient(to top, #001a31, #001a319d, #2c536474),
      url("../img/carousel/aragon.jpg")
        no-repeat 50% 50% / cover;
  }

  .swiper-slide--ten {
    background: linear-gradient(to top, #001a31, #001a319d, #2c536474),
      url("../img/carousel/castilla.jpg")
        no-repeat 50% 50% / cover;
  }

  .swiper-slide--eleven {
    background: linear-gradient(to top, #001a31, #001a319d, #2c536474),
      url("../img/carousel/mancha.jpg")
        no-repeat 50% 50% / cover;
  }

  .swiper-slide--twelve {
    background: linear-gradient(to top, #001a31, #001a319d, #2c536474),
      url("../img/carousel/extremadura.jpg")
        no-repeat 50% 50% / cover;
  }

  .swiper-slide--thirteen {
    background: linear-gradient(to top, #001a31, #001a319d, #2c536474),
      url("../img/carousel/asturias.jpg")
        no-repeat 50% 50% / cover;
  }

  .swiper-slide--fourteen {
    background: linear-gradient(to top, #001a31, #001a319d, #2c536474),
      url("../img/carousel/cantabria.jpg")
        no-repeat 50% 50% / cover;
  }

  .swiper-slide--fifthteen {
    background: linear-gradient(to top, #001a31, #001a319d, #2c536474),
      url("../img/carousel/rioja.jpg")
        no-repeat 50% 50% / cover;
  }

  .swiper-slide--sixteen {
    background: linear-gradient(to top, #001a31, #001a319d, #2c536474),
      url("../img/carousel/murcia.jpg")
        no-repeat 50% 50% / cover;
  }

  .swiper-slide--seventeen {
    background: linear-gradient(to top, #001a31, #001a319d, #2c536474),
      url("../img/carousel/navarra.jpg")
        no-repeat 50% 50% / cover;
  }
  
  .swiper-3d .swiper-slide-shadow-left,
  .swiper-3d .swiper-slide-shadow-right {
    background-image: none;
  }
  /*===================================================================*/

/*=================PRIPIEDADES COMPONET SPECIFIC MEDIA QUERIES================*/
  @media screen and (min-width: 48rem) {
    .carousel {
      display: flex;
      align-items: center;
    }
    /* .bg,
    .bg2 {
      opacity: 0.1;
    } */
  }
  
  @media screen and (min-width: 93.75rem) {
    .swiper {
      width: 85%;
    }
  }


    /*==============================GRID VECTOR STYLE=================================*/

  .grid-background{
    background-color: #001a31;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23042847' fill-opacity='0.59'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }


  /*========================================================================*/

  .services{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 8rem;
  }


  .services-container .services-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 5rem;
  }

  .services-container h5{
    margin-top: 2rem;
    text-align: center;
    letter-spacing: 1px;
  }

  .services-container .services-section .card {
    width: 350px;
    text-align: center;
    position: relative;
    cursor: pointer;
    /* background: var(--dark-green); */
    background: rgb(8,80,60);
background: linear-gradient(180deg, rgba(8,80,60,0.4738270308123249) 0%, rgba(0,26,49,1) 100%);
    margin: 0 15px;
    border-radius: 20px;
    z-index: 10;
    transition: transform 0.8s;
  }

  .services-section .card .icon img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
  .services-section .card .icon {
    width: 150px;
    height: 150px;
    background: rgba(8,80,60,0.4738270308123249);
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 80px;
    border-radius: 50%;
    margin: -75px auto 0;
    transition: transform 1s;
  }
  
  .services-section .card h2 {
    height: 35px;
    /* width: 80%; */
    letter-spacing: 1px;
    font-family: var(--title-font);
    text-align: center;
    font-size: 1rem;
    text-transform: uppercase;
    margin: 25px auto auto;
    position: relative;
    color: var(--celestial-blue);
  }

  .services-section .card hr{
    margin: 0 10%;
  }
  

  .services-section .card p {
    font-size: 14px;
    margin: 35px 20px;
    color: #dedede;
  }
  .services-section .card:hover {
    transform: translateY(-20px);
  }



/*===================================================================*/
  .benefits{
    margin: 10% 5% 0;
  }
  

 .benefits-container{
    margin: 5%;
  }
  
  .benefits h1 {
    text-align: center;
    margin-bottom: 60px;
  }
  
  
  .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
  }
  
  .benefit {
    text-align: center;
    padding: 25px 10px;
    border-radius: 5px;
    font-size: 14px;
    /* cursor: pointer; */
    background: transparent;
    transition: transform 0.5s, background 0.5s;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  
  .benefit i {
    font-size: 40px;
    margin-bottom: 10px;
    color: var(--mint-green);
  }
  
  .benefit h2 {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 8px;
    text-transform: uppercase;
    color: var(--celestial-blue);
  }

  .benefit p{
    color: var(--shade-of-white);
  }
  
  .benefit:hover {
    background: rgb(8,80,60);
    background: linear-gradient(180deg, rgba(8,80,60,0.4738270308123249) 0%, rgba(0,26,49,1) 100%);
    color: #fff;
    transform: scale(1.05);
  }

  .benefit:hover h2{
    color: var(--mint-green);
  }
  
  .benefit:hover i {
    color: #fff;
  }
/*===================================================================*/

.tarifas-2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.tarifas-2 h1{
  text-align: center;
}


.tarifas-2-wrapper{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.tarifas-text{
  padding: 30px;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tarifas-text h5{
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  color: var(--celestial-blue);
}

.tarifas-text-wrapper{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.tarifas-text-wrapper h6{
  display: flex;
  gap: 5px;
  font-size: 1rem;
  text-transform: uppercase;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.tarifas-text-wrapper span{
  padding-left: 2rem;
  font-size: 2rem;
  color: var(--cyan);
}

.tarifas-text-wrapper i{
  font-size: 0.5rem;
  color: var(--mint-green);
}

.tar-desc{
  font-size: 12px;
  margin: 0 0 1rem 1rem;
}

.tarifas-result{
  background: rgb(8,80,60);
  background: linear-gradient(180deg, rgba(8,80,60,0.4738270308123249) 0%, rgba(0,26,49,1) 100%);
  border-radius: 20px;
  padding: 20px;
  text-align: center;
}

.tarifas-result h5{
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--celestial-blue);
  letter-spacing: 1px;
}

.tarifas-result span{
  font-size: 3rem;
  color: var(--cyan);
  font-weight: bold;
}

.tarifas-result h4{
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.pie {
  margin: 5vmin auto;
  border-radius: 50%;
  width: 90vmin;
  height: 90vmin;
  overflow: hidden;
  background: linear-gradient(-21deg, #159b4d 50%, transparent 50%), linear-gradient(to right, #159b4d 50%, #08503c 50%);

  box-shadow: rgb(48,54,61) 0px 0px 0px 1px inset,rgb(1,4,9) 0px 8px 24px 0px;
}

.vibruz-pie {
  margin: 20vmin 0 0 55vmin;
  font-weight: bold;
  letter-spacing: 1px;
}

.beneficio-pie {
  margin: 33vmin;
  font-weight: bold;
  letter-spacing: 1px;
}






/*=================================MARQUEE SECTION=================================*/

.marquee-wrapper{
  text-align:center;
  margin: 0;
}
.marquee-wrapper .marquee-container{
  overflow:hidden;
}
.marquee-inner span{
  float:left;
  width:50%;
}
.marquee-wrapper .marquee-block{
  --total-marquee-items:5;
  height: 150px;
  width: calc(250px * (var(--total-marquee-items)));
  /* overflow: hidden; */
  box-sizing: border-box;
  position: relative;
  margin: 20px auto;
  padding: 30px 0;
}
.marquee-inner{
  display: block;
  width: 200%;
  position: absolute;
}
.marquee-inner p{
  font-size: 12px;
  color: var(--shade-of-white);
}
.marquee-inner.to-left{
  animation: marqueeLeft 25s linear infinite;
}
.marquee-inner.to-right{
  animation: marqueeRight 25s linear infinite;
}
.marquee-item{
  width: 230px;
  height: auto;
  display: inline-block;
  margin: 0 10px;
  padding: 10px;
  float: left;
  transition: all .2s ease-out;
  background: linear-gradient(180deg, rgba(8,80,60,0.4738270308123249) 0%, rgba(0,26,49,1) 100%);
  border-radius: 0.5rem;
}

.marquee-item .comments-info{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
}

/* .marquee-item .marquee-info .marquee-stars{} */

.marquee-item .comments-info h5{
  font-size: 12px;
  color: var(--celestial-blue);
}

.marquee-item .comments-info i{
  font-size: 8px;
  color: #ffff76;
}

@keyframes marqueeLeft{
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
@keyframes marqueeRight{
  0% { 
    left: -100%; 
  }
  100% {
   left: 0; 
  }
}

/*===================================================================*/


/*============================FAQ STYLE COMPONENT============================*/
.faq{
  margin: 5% 5% 10%;
}

.accordion {
    display: flex;
    flex-direction: column;
    font-family: "Sora", sans-serif;
    max-width: 991px;
    min-width: 320px;
    margin: 50px auto;
    padding: 0 50px;
}
.faq h1 {
    text-align: center;
}
.accordion-item {
    margin-top: 16px;
    color: var(--celestial-blue);
    border-radius: 6px;
     background: rgb(8,80,60);
    background: linear-gradient(180deg, rgba(8,80,60,0.4738270308123249) 0%, rgba(0,26,49,1) 100%);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}
.accordion-item .accordion-item-title {
    position: relative;
    margin: 0;
    display: flex;
    width: 100%;
    font-size: 15px;
    cursor: pointer;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 14px 20px;
    box-sizing: border-box;
    align-items: center;
}
.accordion-item .accordion-item-desc {
    display: none;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: var(--shade-of-white);
    border-top: 1px dashed var(--mint-green);
    padding: 10px 20px 20px;
    box-sizing: border-box;
}
.accordion-item input[type="checkbox"] {
    position: absolute;
    height: 0;
    width: 0;
    opacity: 0;
}
.accordion-item input[type="checkbox"]:checked ~ .accordion-item-desc {
    display: block;
}
.accordion-item
    input[type="checkbox"]:checked
    ~ .accordion-item-title
    .icon:after {
    content: "-";
    font-size: 20px;
}
.accordion-item input[type="checkbox"] ~ .accordion-item-title .icon:after {
    content: "+";
    font-size: 20px;
}
.accordion-item:first-child {
    margin-top: 0;
}
.accordion-item .icon {
    margin-left: 14px;
}

@media screen and (max-width: 767px) {
    .accordion {
        padding: 0;
    }


    .accordion-item .accordion-item-title{
      font-size: 10px;
    }


    .accordion-item .accordion-item-desc{
      font-size: 12px;
    } 
}

/*===================================================================*/

/*==========================CONTACT STYLE COMPONENT========================*/
.contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.contact-block p{
  text-align: center;
}

.contact-info{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 3rem;
}

.contact-info a{
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: var(--celestial-blue);
  transition: all .45s ease;
}

.contact-info a:hover{
  color: var(--mint-green);
}

.contact-info i{
  color: var(--mint-green);
  font-size: 1.5rem;
}


.contact img{
  width: 30px;
}

.contact .contact-btn-container{
  display: flex;
  flex-direction: row;
  gap: 5rem;
}

.contact .contact-btn-container .btn-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact .contact-btn-container .btn-container span{
  font-size: 12px;
  letter-spacing: 1px;
  text-align: center;
}

.contact .second-button{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  margin-top: 0;
}

.calendly{
  background-color: var(--celestial-blue);
  color: var(--dark-blue);
}

/*===================================================================*/

footer{
  /* background: linear-gradient(180deg, rgba(8,80,60,0.4738270308123249) 0%, rgba(0,26,49,1) 100%); */
  text-align: center;
  text-transform: uppercase;
  padding-top: 30px;
  margin-top: auto;
}

footer li{
  list-style: none;
  margin: 10px;
  display: inline-block;
}

.icons a{
  background: var(--dark-green);
  color: var(--celestial-blue);
  padding: 14px;
  font-size: 20px;
  border-radius: 100%;
  display: flex;
}
.icons a:hover{
  color: #ffffff;
  transition: 0.5s;
}

.menu a{
  color: #ffffff;
  text-transform: capitalize;
}
.menu a:hover{
  color: #52527a;
  transition: 0.5s;
}

.footer-copyright{
  background: linear-gradient(180deg, rgba(8,80,60,0.4738270308123249) 0%, rgba(0,26,49,1) 100%);
  color: #ffffff;
  padding: 15px;
  margin-top: 30px;
  font-size: 1rem;
  text-transform: none;
}

.footer-copyright p{
  margin-bottom: 0px;
  color: var(--celestial-blue);
  letter-spacing: 1px;
}










/*=================================GENERAL TABLETS SCREENS QUERIES===============*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
    
    .nav-container{
        margin: 0;
    }

    .header-content .overlay-first-text {
      font-size: 1.2rem;
  }

  .header-content .overlay-second-text {
      font-size: 0.8rem;
  }

  .header-content .overlay-third-text {
      font-size: 1.2rem;
  }

  .header-content .overlay-action-text{
      font-size: 8px;
  }

  .button {
      font-size: 0.8rem;
  }
    
}






/*==============================GENERAL MOVBILE SCREENS QUERIES===================*/
@media screen and (max-width:1280px){
  .services-container .services-section {
    gap: 8rem;
  }
}











@media screen and (max-width:768px) {

    header {
      flex-direction: column;
      text-align: center;
     }

    .header-content{
      flex-direction: column-reverse;
    } 

    .section-titles{
      font-size: 1.5rem;
    }
    
    .nav-container{
        margin: 0;
    }
    
    .nav div.nav-logo{
        margin-left: 15px;
    }
    
    .nav div.main_list{
        width: 100%;
        height: 0px;
        overflow: hidden;
        background-color: #001a31;
        box-shadow:  0 4px 4px hsla(145, 76%, 35%, .3);
    }
    
    .nav div.show_list{
        height: 300px;
    }
    
    .nav div.main_list ul{
        flex-direction: column;
        width: 100%;
        height: 200px;
        top: 80px;
        right: 0;
        left: 0;
        margin-top: 65px;
    }
    
    .nav div.main_list ul li{
        width: 100%;
        height: 40px;
    }
    
    .nav div.main_list ul li a{
      text-align: center;
        line-height: 40px;
        width: 100%;
        height: 40px;
        display: table;
    }
    
    .nav div.media_button{
        display: block;
    }


    .text-container{
      max-width: 100%;
      text-align: center;
    }

    .video-container{
      width: 100%;
    }


     .header-content .overlay-first-text {
        font-size: 1.2rem;
    }

    .header-content .overlay-second-text {
        font-size: 0.8rem;
    }

    .header-content .overlay-third-text {
        font-size: 1.2rem;
    }

    .header-content .overlay-action-text{
        font-size: 8px;
    }

    .button {
        font-size: 0.8rem;
    }

    .carousel > div span {
      font-size: 0.8rem;
    }

    .tarifas-text-wrapper h6{
      font-size: 0.6rem;
    }

    .tarifas-result h5 {
      font-size: 0.8rem;
    }

    .tarifas-result span {
      font-size: 2rem;
    }

    .tarifas-result h4 {
      font-size: 1.5rem;
    }
}